* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    font-size: xx-large;
    background-color: darksalmon;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-color: burlywood;
}

main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
}

footer {
    text-align: center;
}

.time {
    align-items: flex-end;
}

.question-page {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}


#score {

}

.button {
    padding: 20px;
    margin-bottom: 10px;
}

.question-page, .submit-page, .highscore-page, #check-answer {
    display:none;
}



@media screen and (min-width: 850px) {
    .card {
      max-width: 680px;
    }
  }
  