header {
    background-color: turquoise;
}

.time {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.score {
    margin-left: 20px;
}

.button {

}



@media screen and (min-width: 850px) {
    .card {
      max-width: 680px;
    }
  }
  